@inherits LayoutComponentBase

<div class="bg-gradient-45 from-g-600 to-g-300 text-white h-[100px]">
    <div class="justify-content-between">
        <div>
            <a href="#"><i class="qr" /></a>
            <a href="#"><i class="qr" /></a>
        </div>
        <div>
            <a href="logout">Uitloggen</a>
        </div>
    </div>
    <h1 class="h1">Producten</h1>
</div>

@Body
