@page "/checkout"
@using WebApp.Features.Cart
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Sections
@inject CartState Basket
@inject NavigationManager Nav

<PageTitle>Checkout | Nothern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Checkout</SectionContent>

<div class="checkout">

</div>


@code {

}
